*{
    margin: 0;
    padding: 0;
}





.cabeçalho{background-color:#D7D6FD;
 display: flex;
justify-content: baseline;
align-items: center;
padding: 24px 0;
}
.Logo{
 width: 25%;
}

.lista{
 font-size: 30px;
margin-left: 220px;
}

.lista-item{
 display: inline-block;
margin: 0 50px;

}







